<div class="navandBody">

  <!--utp-nav-->
  <div class="utp-nav"  id="utpNavbar" >
    
      <div class="">

          <a href="#" class="utp-nav__link utp-nav__logo">
              <img src="https://www.fumicontrolcol.com/cdn/assets/img/userutp.svg" alt="profile-user" class="utp-img-depen utp-nav__icon">
                  <div class="utp-nav-names">
                          <span class="utp-nav__logo-name">Software<br>
                          <small class="utp-subtitle">Repositorio@utp.edu.co</small></span>
                      
                  </div>
          </a>


      </div>
      


      <nav class="utp-nav__container">

              <div class="utp-nav__list">
                  <div class="utp-nav__items">
                      <h3 class="utp-nav__subtitle">General</h3>

                      <a href="#" class="utp-nav__link active">
                          <span class="material-icons">home</span>
                          <span class="utp-nav__name">Home</span>
                      </a>
                      
                      <div class="utp-nav__dropdown">
                          <a href="#" class="utp-nav__link">
                              <span class="material-icons">dashboard</span>
                              <span class="utp-nav__name"> Interface</span>
                              <i class='bx bx-chevron-down utp-nav__icon utp-nav__dropdown-icon'></i>
                          </a>

                          <div class="utp-nav__dropdown-collapse">
                              <div class="utp-nav__dropdown-content">
                                  <a href="#" class="utp-nav__dropdown-item">Button</a>
                                  <a href="#" class="utp-nav__dropdown-item">Mail</a>
                                  <a href="#" class="utp-nav__dropdown-item">Accounts</a>
                              </div>
                          </div>
                      </div>

                      <a href="#" class="utp-nav__link">
                          <span class="material-icons">textsms</span>
                          <span class="utp-nav__name">Messages</span>
                      </a>
                  </div>

                  <div class="utp-nav__items">
                      <h3 class="utp-nav__subtitle">Menu</h3>

                      <div class="utp-nav__dropdown">
                          <a href="#" class="utp-nav__link">
                              <span class="material-icons">notifications</span>
                              <span class="utp-nav__name">Notifications</span>
                              <i class='bx bx-chevron-down utp-nav__icon utp-nav__dropdown-icon'></i>
                          </a>

                          <div class="utp-nav__dropdown-collapse">
                              <div class="utp-nav__dropdown-content">
                                  <a href="#" class="utp-nav__dropdown-item">Blocked</a>
                                  <a href="#" class="utp-nav__dropdown-item">Silenced</a>
                                  <a href="#" class="utp-nav__dropdown-item">Publish</a>
                                  <a href="#" class="utp-nav__dropdown-item">Program</a>
                              </div>
                          </div>

                      </div>

                      <a href="#" class="utp-nav__link">
                          <span class="material-icons">explore</span>
                          <span class="utp-nav__name">Explore</span>
                      </a>
                      <a href="#" class="utp-nav__link">
                          <span class="material-icons">bookmark_border</span>
                          <span class="utp-nav__name">Saved</span>
                      </a>
                  </div>

                  <a href="#" class="utp-nav__link utp-nav__logout">
                      <span class="material-icons">logout</span>
                      <span class="utp-nav__name">Salir</span>
                  </a>
              </div>
            
      </nav>
  </div>

<main>
      
      <section >
        

      </section>
      
</main>
</div>