<header class="utp-header">
  <div class="utp-header__container">
    <div class="utp-div__logo">
        <button id="hamburger" onClick="toogle()" class="utp-standard__button show-menu"><span class="material-icons">menu</span></button>      
        <a alt="" class="utp-header__imgLogo"></a>
    </div>
    <div  class="utp-profile-div">
      <div class="utp-box-buttons">
        <button class="utp-standard__button" title="Notificaciones">
          <a href="">
            <span class="badge">5</span>
            <span class="material-icons icon-notification">notifications_active</span>
          </a>
        </button>
      </div>
      <div class="utp-profile-texts">
        <small class="utp-name-profile-dependency"><b>Perfil o Cargo</b></small>
        <div class="utp-name-profile">Nombre Completo Apellido</div>
      </div>
      &nbsp;
      <div class="utp-profile-div-image">
        <div class="dropdown">
          <span class="dropbtn"> <img src="https://www.fumicontrolcol.com/cdn/assets/img/perfil.webp" alt="profile-user" class="utp-header__img"></span>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <div href="" class="utp-mode">
              <p>Modo</p>
              <span class="material-icons">brightness_4</span>
              <label class="switch">
                <input onclick="themeMode()" type="checkbox">
                <span class="slider round"></span>
              </label>        
            </div>
          </div>
        </div>
      </div>        
    </div>
    <div class="utp-header__toggle">
        <i class='bx bx-grid-horizontal'></i>
    </div>
  </div>
</header>