<header class="utp-header">
  <nav>
    <div class="utp-header__container">
      <div class="utp-div__logo">
          <button id="hamburger" onClick="Toogle()" class="utp-standard__button show-menu">
            <span class="material-icons">
              menu
            </span></button>      
          <img src="https://www.fumicontrolcol.com/cdn/assets/img/marca_UTP.png" alt="" class="utp-header__img__marca ">
      </div>
      <div  class="utp-profile-div">  
        
        <div class="utp-profile-textos">
            <small class="utp-nombre-perfil-cargo"><b>Perfil o Cargo</b></small>
            <div class="utp-nombre-perfil">Nombre Completo Apellido </div>
        </div>&nbsp;

        <div class="utp-profile-div-image">
          <div class="dropdown">
            <span class="dropbtn"> 
              <img src="https://www.fumicontrolcol.com/cdn/assets/img/perfil.webp" alt="profile-user" class="utp-header__img">
            </span>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
              <a href="" style="display: flex; align-items:center; background-color: rgba(150, 150, 150, 0.123);border-radius: 0px 0px 8px 8px;">
                Modo&nbsp;&nbsp;&nbsp;
                <span class="material-icons"> brightness_4</span>&nbsp;&nbsp;
                <label class="switch">
                  <input onclick="myFunction()" type="checkbox">
                  <span class="slider round"></span>
                </label>        
              </a>
            </div>
          </div>
        </div>        

      </div>

      <div class="utp-header__toggle">
          <i class='bx bx-grid-horizontal' id="utp-header-toggle"></i>
      </div>

    </div>

  </nav>

</header>
